#root {
  margin: 0 auto;
  text-align: center;
}

.logo-landing {
  max-width: 100%;
  max-height: 20%;
}
.Header-Div{
  max-height: 10%;
  background-color: rgba(75, 15, 27, 0.38);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;

}

.logo-Header{
  width: 100%;
  height: 100%;
}


.shifts {
  margin: auto;
  width: 90%;
}
.text-field {
  margin: 10px;
}

button {
  background-color: rgba(255, 255, 255, 0.53);
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}
 .plan{
   display: flex;
 }