#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 100%;
}

.shifts {
  margin: auto;
  width: 150px;
}
.text-field {
  margin: 10px;
}

button {
  background-color: rgba(255, 255, 255, 0.53);
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 10%;
}
