#root {
  margin: 0 auto;
  text-align: center;
}

.logo-landing {
  max-width: 100%;
  max-height: 20%;
}

.Header-Div{
  max-height: min-content;
  background-color: rgba(75, 15, 27, 0.38);
  display: grid;
  justify-self: stretch;
  grid-template-columns: 1fr 3fr;

}
.Header-Div > div{
  max-height: 100%;
  justify-content: center;
}
.Header-Div > div >h1 {
  height: 30px;
}

.logo-Header{
  width: 100%;
  height: 100%;
}

.shifts {
  margin: auto;
  width: 90%;
}
.text-field {
  margin: 10px;
}

button {
  background-color: rgba(255, 255, 255, 0.53);
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}
 .plan{
   display: flex;
 }

 .table-Selection{
   width: min-content;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
 }
.table-Selection-Button{
  height: min-content;
  width: min-content;
  background-color: rgba(98, 152, 52, 0.4);
}
.WorkerElement{
  display: flex;
}