#root {
  margin: 0 auto;
  text-align: center;
}

.logo-landing {
  max-width: 100%;
  max-height: 20%;
}

.Header-Div{
  max-height: min-content;
  background-color: rgba(75, 15, 27, 0.38);
  display: grid;
  justify-self: stretch;
  grid-template-columns: 1fr 3fr;

}
.Header-Div > div{
  max-height: 100%;
  justify-content: center;
}
.Header-Div > div >h1 {
  height: 30px;
}

.logo-Header{
  width: 100%;
  height: 100%;
}

.shifts {
  margin: auto;
  width: 90%;
}
.text-field {
  margin: 10px;
}
.radio-button{
  margin-left: 41%;
}

button {
  background-color: rgba(255, 255, 255, 0.53);
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}
.button-dayView {
  border: 1px solid black;
  margin-right: 1px;
  margin-left: 1px;
}
.div-dayView{
  justify-content: right;
  background-color: #9ece65;
}
 .plan{
   display: flex;
 }

 .table-Selection{
   width: min-content;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
 }
.table-Selection-Button{
  height: min-content;
  width: min-content;
  background-color: rgba(98, 152, 52, 0.4);
}
.WorkerElement{
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: space-evenly;

}
.WorkerElementName{
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.37);
}
.WorkerElementButton{
  display: flex;
  justify-content: center;
  margin-left: 2px;
  width: 40%;
}
.back{
  width: min-content;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
